<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/CV.css">
    <title>Roei Braverman CV</title>
    <script src="../javascripts/CV.js"></script>
</head>
<body onload= "ChangeHeader()">
  <div class="grid-continer">
      <div class="header">
      <h1 id="HeaderOfCv">Roei Braverman</h1>
    </div>
    <div class="navbar">

        <div class="navbar-element">
            <a href="#education">Education</a>
        </div>
        <div class="navbar-element">
            <a href="#experience">Experience</a>
        </div>
        <div class="navbar-element">
            <a href="#Personal Information">Personal Information</a>
        </div>
        <div class="navbar-element">
            <a href="#Titles" >Titles</a>
        </div>
        <div class="navbar-element">
            <a href="#Projects">Projects</a>
        </div>
      </div>

      <div class="contact-form"> 
        
        <form>
        <h3>Contact Me!</h3>
        <label for="Full-Name">Full Name: </label>
        <input type="text" id="Full-Name" ><br>
        <label for="Email">Email: </label>
        <input type="text" id="Email" ><br>
        <label for="Phone">Phone: </label>
        <input type="text" id="Phone"><br>
        <label for="Subject">Subject: </label><br>
        <input type="text" id="Subject"><br>
        <label for="message">Message: </label><br>
        <textarea id="message" cols="35" rows="7"> </textarea><br>
        <input type="submit" value="Send a message">

    </form>
      </div>
</div>
</body>
</html>